/* GENERELLE REGLER */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* OVERSKRIFT INTRO SEKTION */

.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

}

path {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: overskrift 5s cubic-bezier(0, 0.23, 1, 1);

}


@keyframes overskrift {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;
    }

    90% {
        fill: rgba(255, 255, 255, 0);

    }

    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}



/* CAMS DEL */
section {
    position: relative;
    width: 100%;
    height: 80vh;
    background: #5b727e;
    overflow: hidden;
}

.about {
    position: relative;
    width: 100%;
    padding-bottom: 100px;


}

/*h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    font-size: 100px;
    margin-top: 200px;
    margin-bottom: 40px;
    text-align: center;
}*/


section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.mellemsection {
    background: #fff;
    height: 90vh;
}

.cirkel {
    margin: auto;
    margin-top: 20px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-border-radius: 50%;
    display: flex;
    text-align: center;
    max-width: 600px;
    z-index: 1000;
}


section .omvendtwave {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100px;
    background: url(waveen.png);
    background-size: 1000px 100px;
}

section .omvendtwave.omvendtwave1 {
    animation: animate 30s linear infinite;
    z-index: 999;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .waveblaa {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100px;
    background: url(blaaa.png);
    background-size: 1000px 100px;
}

section .waveblaa.waveblaa1 {
    animation: animate 30s linear infinite;
    z-index: 999;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.visit {
    margin: 50px;
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Canto';
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-family: 'Kohinoor Bangla';
    font-weight: lighter;
}

.flex1 p {
    padding-right: 150px;
}

.flex1 {
    color: white;
    margin-left: 300px;
    font-size: 14px;
    line-height: 27px;

}

.flex2 {
    margin-left: 0px;
    margin-right: 300px;
    font-size: 20px;
    line-height: 27px;
    color: #fde3a7;
}

#hej {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

#videoen {
    margin: 0;
    padding: 0;
}

/*

figure {
    margin: 0;
    position: relative;
}

figure h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    border-right: 3px solid #fff;
    padding: 5px 10px 5px 5px;
}

video {
    width: 100%;
    max-width: 100%;
}

.stretch {
    height: 2000px;
    background: #5b727e;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    margin-top: 800px;
}

.stretch h1 {
    padding: 20px;
}

.hero-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
}
*/




/* Extra small devices (phones, 600px and down) KUN HELT SPECIFIKT FOR MOBIL SOM IKKE KAN STÅ HEROVER*/
@media only screen and (max-width: 600px) {
    .visit {
        margin: 50px;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: 'Canto';
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        font-family: 'Kohinoor Bangla';
        font-weight: lighter;
    }

    .flex1 p {
        padding-right: 12px;
    }

    .flex1 {
        color: white;
        margin-left: 70px;
        font-size: 12px;
        line-height: 22px;
    }

    .flex2 {
        margin-left: 0px;
        margin-right: 70px;
        font-size: 15px;
        line-height: 22px;
        color: #fde3a7;
    }


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {}

    .flex-container {
        flex-direction: row;

    }



    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        ...
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        ...
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        ...
    }
